<!DOCTYPE html>
<html lang="en">

<head>
    <title>外卖详情</title>
    <%- include tpl/_header.ejs %>
</head>

<body class="bg_grey">
    <div class="item_detail"> <img src="../img/detail.png" alt="" class="item_detail_hd">
        <div class="item_detail_bd">
            <p class="item_list_hd">什锦水果沙拉<span class="cold"><img src="../img/cold.png" alt="">凉菜</span></p>
            <div class="item_list_bd">评分
                <p class="item_score"><img src="../img/good.png" alt=""><img src="../img/good.png" alt=""><img src="../img/good.png" alt=""><img src="../img/good.png" alt=""><img src="../img/bad.png" alt=""></p><span>月售<b>132</b>份</span></div>
            <p class="item_list_ft">￥21</p>
            <p class="item_change"><a href="###" class="item_list_reduce"><img src="../img/reduce.png" alt=""></a><span>1</span><a href="###" class="item_list_add"><img src="../img/add.png" alt=""></a></p>
        </div>
        <div class="item_detail_ft"><a href="###" class="btn btn_mini">添加</a></div>
    </div>
    <div class="comment">
        <p class="comment_hd">用户评价</p>
        <ul class="comment_bd">
            <li>
                <div class="comment_bd_hd"> <img src="../img/head.png" alt="" class="head">
                    <p class="name">13325045692</p>
                    <p class="time">2017-09-26 16:44</p>
                    <p class="item_score"><img src="../img/good.png" alt=""><img src="../img/good.png" alt=""><img src="../img/good.png" alt=""><img src="../img/good.png" alt=""><img src="../img/bad.png" alt=""></p>
                    <p class="coment_text">面包很软，食材新鲜，配送准时。</p>
                </div>
                <div class="comment_bd_ft"><span class="col_orange">商家回复：</span>谢谢亲，欢迎下次惠顾。</div>
            </li>
            <li>
                <div class="comment_bd_hd"> <img src="../img/head.png" alt="" class="head">
                    <p class="name">13325045692</p>
                    <p class="time">2017-09-26 16:44</p>
                    <p class="item_score"><img src="../img/good.png" alt=""><img src="../img/good.png" alt=""><img src="../img/good.png" alt=""><img src="../img/good.png" alt=""><img src="../img/bad.png" alt=""></p>
                    <p class="coment_text">面包很软，食材新鲜，配送准时。</p>
                </div>
                <div class="comment_bd_ft"><span class="col_orange">商家回复：</span>谢谢亲，欢迎下次惠顾。</div>
            </li>
        </ul>
    </div>
    <%- include tpl/_importjs.ejs %>
        <script src="../js/index.js"></script>
</body>

</html>
