<!DOCTYPE html>
<html lang="en">

<head>
    <title>提交评价</title>
    <%- include tpl/_header.ejs %>
</head>

<body class="bg_grey">
    <ul class="white_comment">
        <li>
            <div class="white_comment_hd"><img src="../img/item1.png" class="item" alt="">什锦水果沙拉
                <p class="item_score">评分<img src="../img/good.png" alt=""><img src="../img/good.png" alt=""><img src="../img/good.png" alt=""><img src="../img/good.png" alt=""><img src="../img/bad.png" alt=""></p>
            </div>
            <div class="white_comment_bd"><textarea name="name" placeholder="说说哪里满意，帮大家选择"></textarea></div>
        </li>
        <li>
            <div class="white_comment_hd"><img src="../img/item1.png" class="item" alt="">什锦水果沙拉
                <p class="item_score">评分<img src="../img/good.png" alt=""><img src="../img/good.png" alt=""><img src="../img/good.png" alt=""><img src="../img/good.png" alt=""><img src="../img/bad.png" alt=""></p>
            </div>
            <div class="white_comment_bd"><textarea name="name" placeholder="说说哪里满意，帮大家选择"></textarea></div>
        </li>
    </ul>
    <div class="btn_group"> <a href="" class="btn btn_orange">提交评价</a> </div>
    <%- include tpl/_importjs.ejs %>
        <script src="../js/index.js"></script>
</body>

</html>
