<!DOCTYPE html>
<html lang="en">

<head>
    <title>登录</title>
    <%- include tpl/_header.ejs %>
</head>

<body class="bg_grey">
    <div class="mod_manage">
        <div class="mod_manage_hd">2017年06日14日 16:00:11 <span>欢迎您，<b>Wu Shan123</b>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a href="">退出登录</a></span> </div>
        <div class="mod_manage_bd"><img src="../img/logo1.png" alt="">edis分布式数据库引擎
            <ul class="js_tab">
                <li><a href="###"><i class="iconfont">&#xe639;</i><br>运行视图</a></li>
                <li><a href="###"><i class="iconfont">&#xe669;</i><br>配置管理</a></li>
                <li><a href="###"><i class="iconfont">&#xe6ce;</i><br>缩扩容管理</a></li>
                <li><a href="###"><i class="iconfont">&#xe61c;</i><br>数据迁移</a></li>
                <li><a href="###"><i class="iconfont">&#xe61e;</i><br>备份还原</a></li>
                <li class="cur"><a href="###"><i class="iconfont">&#xe607;</i><br>系统管理</a></li>
            </ul>
        </div> <iframe src="系统管理.html" width="" height=""></iframe> </div>
    <%- include tpl/_importjs.ejs %>
        <script src="../js/index.js"></script>
</body>

</html>
