<!DOCTYPE html>
<html lang="en">

<head>
    <title>登录</title>
    <%- include tpl/_header.ejs %>
</head>

<body>
    <div class="mod_login">
        <div class="mod_login_hd"><img src="../img/logo.png" alt="">edis分布式数据库引擎</div>
        <div class="mod_login_bd">
            <h1>用户登录</h1> <label for="user" class="error"><i class="iconfont">&#xe6b8;</i><input type="text" id="user" name="user" placeholder="请输入用户名"><span>格式不正确</span></label> <label for="password"><i class="iconfont">&#xe82b;</i><input type="text" id="password" name="password" placeholder="请输入密码"><span>格式不正确</span></label>            <a href="###" class="btn">登录</a></div>
    </div>
    <%- include tpl/_importjs.ejs %>
        <script src="../js/index.js"></script>
</body>

</html>
